// DO NOT REMOVE

red-engine
red

data/
registry.db
.github/discord.yml
podman-flush.sh


Project-RED-main.zip
node_modules/
tmp/
internal/router/static/dist/

.DS_Store
Thumbs.db

.vscode/
.idea/

.env
*.log
*.bak
*.tmp
*.md
*.txt

!*.sh
!README.md
!LICENSE
.claude